# Игнорировать временные файлы
*~
.DS_Store
Thumbs.db
.vscode/
# Игнорировать каталоги с зависимостями
node_modules/
__pycache__/
.venv/
# Игнорировать файлы настроек IDE
.vscode/
.idea/
# Игнорировать файлы с настройками
config.ini
secrets.json
# Игнорировать логи и отчеты об ошибках
*.log
*.log.*
*.swp
*.swo
*.dump
# Игнорировать файлы временных данных и кеш
*.tmp
.cache/
# Игнорировать файлы настроек для разных систем
.travis.yml
.eslintrc
.gitlab-ci.yml
# Игнорировать локальные или временные файлы и каталоги
local/
temp/
db.sqlite3